<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="net.opendining.cordova"
    version="0.1.18">

    <name>Printer</name>
    <description>
        Prints to receipt printers.
    </description>
    <license>Private</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/Printer.js" name="Printer">
       <clobbers target="cordova.printer" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Printer">
                <param name="android-package" value="net.opendining.cordova.Print"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <!-- Request legacy Bluetooth permissions on older devices. -->
            <uses-permission android:name="android.permission.BLUETOOTH"
                             android:maxSdkVersion="30" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
                             android:maxSdkVersion="30" />

            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

            <queries>
                <package android:name='com.zebra.printconnect' />
            </queries>
        </config-file>

        <!--
            Trying to resolve GSON duplicate error by importing GSON via Framework
            e.g. https://github.com/dpa99c/cordova-plugin-firebasex/blob/master/plugin.xml
            See https://cordova.apache.org/docs/en/latest/guide/platforms/android/plugin.html#adding-dependency-libraries
        -->
        <preference name="ANDROID_GSON_VERSION" default="2.9.0" />
        <framework src="com.google.code.gson:gson:$ANDROID_GSON_VERSION" />

        <lib-file src="src/android/libs/ePOS2.jar"/>
        <lib-file src="src/android/libs/ePOSEasySelect.jar"/>
        <!--<lib-file src="src/android/libs/gson-2.9.0.jar"/>-->
        <source-file src="src/android/libs/armeabi/libepos2.so" target-dir="libs/armeabi/" />
        <source-file src="src/android/libs/armeabi/libeposeasyselect.so" target-dir="libs/armeabi/" />
        <source-file src="src/android/libs/arm64-v8a/libepos2.so" target-dir="libs/arm64-v8a/" />
        <source-file src="src/android/libs/arm64-v8a/libeposeasyselect.so" target-dir="libs/arm64-v8a/" />
        <source-file src="src/android/libs/x86_64/libepos2.so" target-dir="libs/x86_64/" />
        <source-file src="src/android/libs/x86_64/libeposeasyselect.so" target-dir="libs/x86_64/" />
        <source-file src="src/android/Print.java" target-dir="src/net/opendining/cordova" />
        <source-file src="src/android/ItemOption.java" target-dir="src/net/opendining/cordova" />
        <source-file src="src/android/Order.java" target-dir="src/net/opendining/cordova" />
        <source-file src="src/android/OrderCoupon.java" target-dir="src/net/opendining/cordova" />
        <source-file src="src/android/OrderField.java" target-dir="src/net/opendining/cordova" />
        <source-file src="src/android/OrderItem.java" target-dir="src/net/opendining/cordova" />
        <source-file src="src/android/PrintConfig.java" target-dir="src/net/opendining/cordova" />
        <source-file src="src/android/Tax.java" target-dir="src/net/opendining/cordova" />
        <source-file src="src/android/Reward.java" target-dir="src/net/opendining/cordova" />
    </platform>
</plugin>
